/*estilização de produtos*/

.container-produtos{
    border: 1px solid lightgray;
    width: 1042px;
    height: 545px;
    position: relative;
    left: 300px;
    top:-550px;
}

.container-title{
    margin-top: 15px;
    text-align: center;
    color:#3ea175;
}

.card-container{
    margin-top: 15px;
    
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    justify-content: space-around;
}

.card2{
    
    border: 4px groove #3ea175;
    filter: grayscale(110%);
    cursor: pointer;
    box-shadow: 1px 1px 5px #000;

    width: 250px ;
}

.card2:hover{
    filter: grayscale(0%);
}

.card-inner2{
    margin-top:10px;
    margin-bottom:10px;
    
}

.card-inner2 > img{
    width:250px;
    height:100px;
    
}


.card-inner2 > h2{
    text-align:center;
    
}

.card-inner2 > p{
    text-align:center;
    color:#3ea175;
    font-weight:bold;
}

.card-inner2 > div{
    margin-top: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.card-inner2 > div > button {
    background-color:#3ea175;
    border-radius: 15px;
    padding: 5px;

    color: black;
    font-weight:bold;

    cursor: pointer;
}

